.App {
  text-align: center;
}

.textBox{
  border: 1px solid green;
  outline: none;
  padding: 10px;
}
.addbtn{
  border: 1px ridge green;
  background-color: lightgreen;
  padding: 9px;
  color: green;
  font-size: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.text-center h2{
  display: flex;
  flex-grow: 100;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text {
  color: green;
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
  min-width: 50%;
  flex:1;
  margin: 10px;
}

.dltbtn{
  color: red;
  border: none;
  font-size: 17px;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px  ;
} 